
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div class="col-md-9" id="detailView" ng-init="getDish();">
    <div class="row">
        <div class="col-md-5" >
            <div id="detailDish">
            	<h2>{{detailDish.Title}}</h2>
            	<img ng-src="{{detailDish.ImageURL}}"/>
            	<br>
		   		<p>{{detailDish.Description}}</p>
		   	</div>
           	<a href="#/search"  class="col-md-4 toolButton" id="backToSelect">Back to Select Dish</a>
         </div>
        
        <div class="col-md-7" id="Ingredient">
            <h3 id="dishPortion">Ingredients for <span>{{getNumberOfGuests()}}</span> people</h3>
            <hr>
            <div style="overflow: auto">
              <div class="row" id="ingredientTable">
		        <table class="table">
		            <tr>
		              <th>Quantity</th>
		              <th>Ingredient</th>
		              <th>Cost</th>
		            </tr>
		            <tr ng-repeat="item in detailDish">
		            	<td>{{item.Quantity*getNumberOfGuest().toFix(2)}}{{item.Unit}}</td>
		            	<td>{{item.Name}}</td>
		            	<td>{{getNumberOfGuests()}}</td>
		            </tr>
		        </table>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div href="#/search" ng-click="addDishToMenu(detailDish)" class="toolButton " id="confirmDish">Confirm Dish</div>
                </div>
                <div style="text-align: right;"class="col-md-3">SEK</div>
                <div style="text-align: right;border:1px solid black;" class="col-md-2 totalPrice" id="ingredientTotal">{{totalPrice*getNumberOfGuest}}</div>
            </div>
        </div>
    </div>
    <div id="preparation" >
        <h1>PREPARATION</h1>
        <p>{{detailDish.Instructions}}</p>
    </div>
</div>