<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div class="col-md-9" id="detailView" style="display:none;">
    <div class="row">
        <div class="col-md-5" >
            <div id="detailDish">
            	<h2>{{detailDish.Title}}</h2>
            	<img ng-src="{{detailDish.ImageURL}}"/>
            	<br>
		   		<p>{{detailDish.Description}}</p>
		   		<br>
		   		<h1>PREPARATION</h1>
		   		<p>{{detailDish.Instructions}}</p>
		   	</div>
           	<div ng-click="" class="col-md-4 toolButton" id="backToSelect">Back to Select Dish</div>
         </div>
        
        <div class="col-md-7" id="Ingredient">
            <h3 id="dishPortion">Ingredients for <span>{{getNumberOfGuests()}}</span> people</h3>
            <hr>
            <div style="overflow: auto">
              <div class="row" id="ingredientTable">
		        <table class="table">
		            <tr>
		              <th>Quantity</th>
		              <th>Ingredient</th>
		              <th>Cost</th>
		            </tr>
		            <tr ng-repeat="">
		            	<td>{{item.Quantity}}{{item.Unit}}</td>
		            	<td>{{item.Name}}</td>
		            	<td>{{getNumberOfGuests()}}</td>
		            </tr>
		        </table>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div ng-click="" class="toolButton " id="confirmDish">Confirm Dish</div>
                </div>
                <div style="text-align: right;"class="col-md-3">SEK</div>
                <div style="text-align: right;border:1px solid black;" class="col-md-2 totalPrice" id="ingredientTotal">{{totalPrice}}</div>
            </div>
        </div>
    </div>
</div>