<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="container" id="hover-div">
	<h4>A Home Dinner Service</h4>
	<hr>
	<p>jdjldjlf jljelj ljbekl jla;lheoim n kaldn khsnekj bsikebjghabjg ,hgdn len lsneu nknalble kjndbkie nks ksjh tmecje j sem j mslem ks. jdjldjlf jljelj ljbekl jla;lheoim n kaldn khsnekj bsikebjghabjg ,hgdn len lsneu nknalble kjndbkie nks ksjh tmecje j sem j mslem ks. <br><br>start quickly:
	</p>
</div>  
	<a href="#/search" class="btn btn-primary" id="firstbutton">Create new dinner</a> 