<div class="jumbotron" id="topBar" style="padding:0px;margin:0px;">
    <div id="summaryHeading">
        <div class="table1">
            <div class="tableCell">
                <div class="content" id="totalNum">
                   <h2>My Dinner: {{getNumberOfGuests()}} People.</h2>
                </div>
            </div>
        </div>
        <div class="table2" id="table2">
            <div class="tableCell">
                <div class="content">
                    <a class="bigButton" href="#/search"id="editMenu">Go back and edit menu</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" id="dinnerOverview">
  <div class="row" >
      <div class="col-md-8 borderRight" id="dinnerAll"style="padding:10px; overflow:auto;height:300px" ng-repeat="item in menuDish">

          <div class='floating-box2 RightAlign' >
            <div><img class='borderAll' src='{{item.ImageURL}}'></div>
            <div class='textMiddle'>{{item.Title}}</div>
            <div class='RightAlign' style='padding: 5px;'>{{ getPriceForDish(item)}} SEK</div>
          </div>
         
      </div>
      <div class="col-md-4 bottomAlign1"style="padding-top:165px" >

          <div class="bottomAlign2" id="printPrice">
              <h3>Total:</h3>
              <h3>{{getTotalMenuPrice()}} SEK</h3>
          </div>

      </div>
  </div>
  <hr>
    <div class="row" >
        <div class="col-md-4"></div>

        <div class="col-md-4"><a href="#/preparation" =id="printButton">Print Full Recipe
            </a></div>

        <div class="col-md-4"></div>
      
    </div>
</div>