<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<div class="col-md-9"id="searchArea" ng-init="search(query2)">
    <div id="selectDish">
        <h2>Select Dish</h2>
        <hr>
        <div class="row">
        	<div class="col-sm-4 paddingRightNone">
                <input ng-model="query"/>
                <button ng-click="search(query)">Search</button>
            </div>
            
            <div class="col-md-8">
                <select id="courseType" ng-model="query2" ng-change="search(query2)" ng-init=" query2='appetizers'" >
                    <option value="appetizers" >Appetizers</option>
                    <option value="main+dish">Main Dish</option>
                    <option value="dessert">Dessert</option>
                </select>
            </div>
        </div>
    </div>
<!-- 
    <div id="showList">
    	<div class="floating-box" >
    		<div><img id="myDishes.RecipeID" class="borderAll" ng-src="{{myDishes.ImageURL120}}" alt="{{myDishes.Title}}"/></div>
			<div class="textMiddle">{{myDishes.Title}}</div>
			<div style="padding: 5px;overflow: auto;">{{detailDish.Description}}</div>
		</div>
    </div>
</div> -->
     {{status}}
    <div id="showList">
            <div class="floating-box"  ng-repeat="dish in dishes">  
                 <img ng-href="#/dish/{{dish.RecipeID}}" ng-src="{{dish.ImageURL}}"/>
                 <br>
                 {{dish.Title}}
                 <br>
                 <a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
                 <br>
                 {{dish.Category}} 
                 <br>
                {{dish.Subcategory}}
             </div>
    </div>

</div>

